.wrapper{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    position: relative;
}

body{
    margin: 0;
    height: 100%;
}


#Navbar{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    position: fixed;
    top: 0;
    width: 100%;
}

#TopBarUL {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #0063ff;
  }

  #TopBarLI {
    float: left;
  }
  
  #TopBarLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  #TopBarLI a:hover:not(.On) {
    background-color: #04AA6D;
  }
  
  .On {
    background-color: #04AA6D;
  }

#LeftSideBar{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    margin-top: 50px;
    background-color: darkgrey;
    height: 960px;
}

.Sidebar{
    background-color: darkgray;
    overflow: auto;
  }

  #sidebarItems{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #d10301;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #0063ff;
    color: white;
  }

#PageContent{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    margin-top: 50px;
    height: 960px;
    background-color:#f2f2f2;
    text-align: center;
}





